/* @import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Hind+Guntur'); */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Barlow');
@import url('https://fonts.googleapis.com/css?family=Rubik|Spectral');

html {
    background-color: white;
}

body {
    text-align: center;
}

/* h1 {
    font-family: 'Poppins', sans-serif;
}

p,
a {
    font-family: 'Roboto', sans-serif;
} */