.container {
    font-family: 'Rubik', sans-serif;
    font-size: 0.9rem;
    width: 800px;
    margin: 0 auto;
    text-align: left;
    margin-top: 5%;
}

.container h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

.container .blog em {
    float: right;
    font-size: 0.8rem;
}

.container a {
    text-decoration: none;
    color: black;
}

.container a:hover {
    color: rgba(0, 0, 0, 0.5)
}

.container h2 {
    /* padding: 0; */
    margin: 0 0 10px 0;
    font-family: 'Poppins', sans-serif;
}