.container {
    font-family: 'Rubik', sans-serif;
    font-size: 0.9rem;
    width: 800px;
    margin: 0 auto;
    text-align: left;
}

.container h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}