.container {
    /* margin: 3rem auto; */
    max-width: 600;
    margin: 3rem auto;
    /* font-family: 'Spectral', 'Georgia', 'Times New Roman', 'Times', serif; */
    font-family: 'Rubik', sans-serif;
    font-size: 0.9rem;
}